{deps, []}.

{erl_opts, [debug_info]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config",
        "{src,include,test}/*.{hrl,erl,app.src}"
    ]}
]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE.md"]},
    {main, "README.md"}
]}.
{hex, [{doc, #{provider => ex_doc}}]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.
