{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config",
        "{src,include,test}/*.{hrl,erl,app.src}"
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {unite, "0.3.1"}
        ]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.
